<div class="overflow-hidden border border-gray-200 rounded-lg">
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">サムネイル</th>
              <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">タイトル</th>
              <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">説明</th>
              <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">ステータス</th>
              <th scope="col" class="px-6 py-3 text-end text-xs font-medium text-gray-500 uppercase">編集・削除</th>
            </tr>
          </thead>

          <tbody class="divide-y divide-gray-200 bg-white">
            <% @decks.each do |deck| %>
              <tr class="hover:bg-gray-50">
                <!-- サムネイル -->
                <td class="px-6 py-4 whitespace-nowrap">
                  <%= image_tag deck.deck_image_url, alt: deck.title, class: "h-12 w-20 object-cover rounded", width:"300", height: "200" %>
                </td>

                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800">
                  <%=  link_to deck.title, deck_path(deck), class: "hover:underline" %>
                </td>

                <td class="px-6 py-4 text-sm text-gray-800">
                  <%= link_to truncate(deck.description, length: 50), deck_path(deck), class: "hover:underline" %>
                </td>

                <td class="px-6 py-4 whitespace-nowrap text-sm">
                  <% if deck.status_published? %>
                    <span class="inline-flex items-center rounded-full px-2.5 py-0.5 text-xs font-medium bg-green-100 text-green-800">
                      公開
                    </span>
                  <% else %>
                    <span class="inline-flex items-center rounded-full px-2.5 py-0.5 text-xs font-medium bg-gray-100 text-gray-800">
                      非公開
                    </span>
                  <% end %>
                </td>

                <td class="px-6 py-4 whitespace-nowrap text-end text-sm font-medium">
                  <%= link_to "編集", edit_deck_path(deck), class: "inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent text-blue-600 hover:text-blue-800 focus:outline-hidden focus:text-blue-800 bg-blue-100" %>

                  <%= link_to "削除", deck_path(deck), data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" },
                    class: "inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent text-red-600 hover:text-red-800 focus:outline-hidden focus:text-red-800 ml-2 bg-red-100" %>
                </td>
              </tr>
            <% end %>

            <% if @decks.empty? %>
              <tr>
                <td colspan="5" class="px-6 py-4 text-sm text-gray-500">
                  まだデッキがありません。右上の「新規作成」から追加してください。
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>