<div class="mx-auto max-w-6xl px-4 pt-6">
    <h2 class = "text-2xl" >デッキ一覧</h2>
    <!-- 検索フォーム -->
    <div class="mb-6 my-2">
        <%= search_form_for @q, url: decks_path, method: :get do |f| %>
        <div class="flex gap-2 items-center">
            <%= f.search_field :title_cont,
                placeholder: "タイトル検索",
                class: "w-full rounded-md border border-gray-300 px-3 py-2 text-sm" %>

            <%= f.submit "検索",
                class: "rounded-md bg-indigo-600 px-4 py-2 text-sm font-semibold text-white" %>
  </div>
<% end %>
  </div>

  <!-- デッキ一覧 -->
  <div>
    <% if @decks.present? %>
        <div class="grid gap-4 md:grid-cols-2 lg:grid-cols-4">
            <%= render partial: 'deck', collection: @decks %>
        </div>
    <% else %>
        <div class="mb-3">デッキがありません</div>
    <% end %>
</div>
    <div class = "mt-4" >
    <%= paginate @decks, theme: 'tailwind' %>
    </div>
    </div>
  </div>
</div>